.about-us {
  margin-top: 70px;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.about-us-container {
  width: 890px;
  height: 236px;
}
.section-text {
  margin-left: 34px;
  line-height: 2;
  font-weight: 500;
  color: #797979;
}
