.gallery {
  background: url(../img/gallery/birmingham-museums-3.jpg);
  z-index: 0;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 84px;
  padding-bottom: 80px;
}

.gallery-container {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.gallery-one {
  margin-top: 0px;
  min-height: 350px;
  width: 400px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.gallery__h2 {
  color: var(--white);
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 28px;
}

.gallery__h3 {
  color: var(--white);
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 16px;
}

.check {
  color: var(--white);
  cursor: pointer;
}

.check:focus {
  color: var(--violet-light);
}

.check-label:hover .gallery__checkbox {
  border-color: var(--violet-light);
}

.check-label:hover .gallery__text {
  color: var(--violet-light);
}

.gallery__check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.gallery-swiper {
  width: 100%;
  position: relative;
}

.gallery__checkbox {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border: 1px solid var(--white);
  vertical-align: middle;
  transition: border-color .5s ease;
}

.gallery__checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 52%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--violet-light);
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity .5s ease;
}

.checkbox:checked ~ .gallery__checkbox {
  border-color: var(--violet-light);
}

.checkbox:checked ~ .gallery__checkbox::before {
  opacity: 1;
}

.checkbox:focus ~ .gallery__checkbox {
  border-color: var(--violet-light);
}

.checkbox:focus ~ .gallery__checkbox::before {
  background-color: var(--violet-light);
}

.gallery__text {
  vertical-align: middle;
  color: var(--white);
  transition: color .5s ease-in-out;
}

.checkbox:checked ~ .gallery__text {
  color: var(--violet-light);
}

.checkbox:focus ~ .gallery__text {
  color: var(--violet-light);
}

.gallery__item {
  list-style: none;
}

.gallery__item:not(:last-child) {
  margin-bottom: 11px;
}

.gallery-century {
  margin-top: 183px;
  margin-bottom: 0px;
}

.gallery-two {
  max-width: 1150px;
  width: 100%;
  margin-top: 0px;
  margin-left: 48px;
  margin-right: auto;
  position: relative;
}

.test-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.test-left-elem {
  display: flex;
  flex-direction: column;
  width: calc(400 / 1600 * 100%);
}

.test-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.test-select {
  min-height: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
  background-color: lightgray;
}

.left-bottom {
  margin-top: auto;
}

.gallery-swiper__container {
  overflow: hidden;
  max-width: 1150px;
  position: relative;
  padding-top: 20px;
}

.gallery-navigation {
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 3px;
}

.gallery-pagination {
  margin-right: 20px;
  text-align: center;
  color: var(--white);
}

.nav-btn {
  position: relative;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background-color: #666666;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: 0;
  transition: color, 0.5s ease-in-out;
}

.nav-btn:hover {
  background-color: var(--violet-light);
}

.nav-btn:focus {
  border: 2px solid var(--black);
}

.nav-btn:active {
  background-color: var(--violet);
  border: 2px solid var(--black);
}

.nav-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.nav-btn.swiper-button-disabled {
  cursor: auto;
  opacity: 0.5;
}

.nav-btn.swiper-button-disabled:hover {
  background-color: #666666;
}

.test-prev {
  margin-right: 19px;
}

.test-next::before {
  left: calc(50% - 12px / 2);
  border-top: 1px solid var(--white);
  border-right: 1px solid var(--white);
  cursor: pointer;
}

.test-prev::before {
  left: calc(50% - 4px / 2);
  border-left: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  cursor: pointer;
}

.gallery-slide {
  position: relative;
  overflow: hidden;
  background-color: #926B88;
  background: 0;
  border: 3px solid rgba(0,0,0,0);
  height: 350px;
  outline: 0;
  max-width: 350px;
  min-height: 0;
  outline: 0;
}

.gallery-slide:focus {
  border: 3px solid var(--violet);
}

.gallery-slide:active {
  border: 2px solid var(--purple);
}

.gallery-slide::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  display: block;
  opacity: 0;
  top: 25px;
  bottom: 25px;
  right: 25px;
  left: 25px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
  background-image: url(../img/gallery/Group12.svg);
  background-position: center;
  background-repeat: no-repeat; 
  transition: opacity 0.5s ease-in-out;
}

.gallery-slide:hover::before {
  opacity: 1;  
}

.gallery-slide::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 350px;
  display: block;
  opacity: 0;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;  
  z-index: 2;
  transition: opacity 0.5s ease-in-out;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.gallery-slide:active::after {
  opacity: 1;
}

.gallery-image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

@media (max-width: 1450px) {
  .gallery-two {
    max-width: 940px;
  }

  .gallery-slide {
    max-width: 280px;
    height: 315px;
  }

  .gallery-slide::before {
    width: 225px;
    height: 260px;
  }
}

@media (max-width: 1280px) {
  .gallery {
    min-height: 561px;
    max-width: 1919px;
    padding-top: 85px;
    padding-bottom: 0px;
  }

  .gallery-one {
    width: 280px;
  }

  .gallery-two {
    max-width: 594px;
    margin-left: 50px;
    margin-right: auto;
  }

  .gallery-slide::before {
    width: 227px;
    height: 262px;
  }

  .gallery-swiper__container {
    max-width: 1919px;
    padding-top: 0px;
  }

  .gallery-navigation {
    margin-left: 0;
    margin-top: 20px;
  }

  .gallery-century {
    margin-top: 0px
  }

  .gallery__list {
    margin-left: 0px;
  }

  .gallery__item:not(:last-child) {
    margin-bottom: 12px;
  }

  .gallery-choice {
    margin-left: 0;
    margin-bottom: 112px;
  }

  .gallery__h2 {
    font-size: 48px;
    margin-bottom: 27px;
  }

  .gallery__h3 {
    margin-top: 0px;
    margin-bottom: 16px;
    font-size: 17px;
  }

  .gallery__checkbox {
    height: 11px;
    width: 11px;
    margin-right: 7px;
  }

  .nav-btn::before {
    top: calc(50% - 8px / 2);
  }

  .test-prev {
    margin-right: 20px;
  }

  .test-next::before {
    left: calc(50% - 10px / 2);
  }
}

@media (max-width: 1023px) {
  
  .gallery-century {
    margin-top: 0px;
  }
  
  .gallery-century-open {
    margin-top: 120px;
    margin-bottom: 20px;
  }

  .gallery-slide {
    width: 318px;
    height: 335px;
    max-width: 318px;
  }

  .gallery-century-open {
    margin-top: 120px;
    margin-bottom: 20px;
  }

  .gallery {
    min-height: 890px;
    max-width: 1023px;
  }

  .gallery-slide::before {
    width: 262px;
    height: 280px;
  }

  .gallery-container {
    flex-direction: column;
  }

  .gallery-navigation {
    margin-bottom: 29px;
    margin-top: 0px;
  }

  .gallery__h3 {
    margin-bottom: 17px;
  }

  .gallery-two {
    margin-left: auto;
    margin-top: 23px;
    max-width: 668px;
  }

  .gallery-one {
    min-height: 310px;
  }

  .gallery-swiper__container {
    max-width: 1023px;
  }

  .gallery__item:not(:last-child) {
    margin-bottom: 12px;
  }

  .gallery-choice {
    margin-bottom: 44px;
  }

  .test-prev {
    margin-right: 19px;
  }

  .gallery-pagination {
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .test-left-elem,
  .gallery-swiper {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }
  
  .test-left-elem {
    margin-bottom: 50px;
  }
  
  .test-select {
    max-width: 300px;
  }

  .gallery-swiper {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .gallery-navigation {
    align-self: center;
    margin-top: 22px;
  }
  
  .gallery-slide::before {
    width: 235px;
    height: 312px;
  }

  .gallery-one {
    margin-top: 54px;
    max-width: 290px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: 255px;
  }

  .gallery-two {
    max-width: 290px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 452px;
  }

  .gallery-swiper__container {
    display: flex;
    flex-direction: column-reverse;
    max-width: 767px;
  }

  .gallery__h2 {
    font-size: 28px;
    margin-bottom: 21px;
  }

  .gallery__h3 {
    margin-top: 0px;
    margin-bottom: 11px;
  }

  .gallery-century {
    margin-top: 0px;
  }

  .gallery-slide {
    height: 367px;
  }

  .gallery {
    min-height: 800px;
    margin-bottom: 0px;
    max-width: 767px;
    padding-top: 0px;
  }

  .gallery-choice {
    margin-bottom: 35px;
  }

}

