
.top-wrapper {
  width: 100%;
  height: 100%;
}

.slide-one {
  background-image: url(../img/hero/birmingham-1.jpg);
  background-repeat: no-repeat;
}

.slide-two {
  background-image: url(../img/hero/birmingham-2.jpg);
  background-repeat: no-repeat;
}

.slide-three {
  background-image: url(../img/hero/birmingham-3.jpg);
  background-repeat: no-repeat;
}

.hero-container {
  position: relative;
  z-index: 2;
}

.hero-content {
  max-width: 597px;
}

.hero__h1 {
  font-size: 72px;
  color: var(--white);
  max-width: 597px;
  margin-top: 0;
  margin-bottom: 19px;
}

.hero__p {
  color: var(--white);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-top: 0px;
  margin-bottom: 91px;
  max-width: 579px;
}

.hero__button {
  border-radius: 100px;
  background: var(--violet-light);
  border: 3px solid var(--violet-light);
  font-size: 19px;
  color:var(--white);
  margin-top: 0px;
  padding-top: 22px;
  padding-left: 35px;
  padding-bottom: 22px;
  padding-right: 35px;
  transition: color 0.4s ease-in-out, border 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.hero__button:hover {
  border: 3px solid var(--purple);
  border-radius: 100px;
}

.hero__button:focus {
  outline: 2px solid #C283F3;
  outline-offset: 5px;
}

.hero__button:active {
  border: 3px solid var(--purple);
  background: var(--violet);
  outline: 0;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 122px;
  position: relative;
}

.hero-ul {
  position: relative;
  display: flex;
  align-items: center;
}

.hero-item {
  padding: 0;
}

.hero-item:not(:last-child) {
  margin-right: 96px;
}

@media (max-width: 1280px) {
  .slide-one {
    background-image: url(../img/hero/birmingham-museums-1-1024.jpg);
  }
  
  .slide-two {
    background-image: url(../img/hero/birmingham-museums-3-1024.jpg);
  }
  
  .slide-three {
    background-image: url(../img/hero/birmingham-museums-3-1024.jpg);
  }

  .hero {
    max-width: 1280px;
    padding-top: 112px;
    padding-bottom: 115px;
  }

  .hero-content {
    max-width: 661px;
  }

  .hero__h1 {
    margin-top: 0;
    margin-bottom: 12px;
  }

  .hero__p {
    max-width: 657px;
    margin-bottom: 133px;
  }
}

@media (max-width: 1023px) {
  .hero {
    max-width: 1023px;
  }

  .slide-one {
    background-image: url(../img/hero/birmingham-museums-1-768.jpg);
  }
  
  .slide-two {
    background-image: url(../img/hero/birmingham-museums-2-768.jpg);
  }
  
  .slide-three {
    background-image: url(../img/hero/birmingham-museums-3-768.jpg);
  }
}

@media (max-width: 767px) {
  .hero {
    max-width: 767px;
    margin-bottom: 0px;
    padding-top: 34px;
    padding-bottom: 45px;
  }

  .hero__button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 13px;
    position: relative;
  }

  .slide-one {
    background-image: url(../img/hero/birmingham-museums1-320.jpg);
  }
  
  .slide-two {
    background-image: url(../img/hero/birmingham-museums-2-320.jpg);
  }
  
  .slide-three {
    background-image: url(../img/hero/birmingham-museums-3-320.jpg);
  }

  .hero__h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 11px;
    max-width: 255px;
  }

  .hero__p {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 42px;
    max-width: 262px;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
