.projects {
  padding-top: 85px;
  padding-bottom: 80px;
}

.projects__text {
  line-height: 32px;
  font-size: 16px;
  max-width: 1080px;
  margin-bottom: 0;
}

.projects__h2 {
  font-size: 48px;
  margin-bottom: 22px;
  margin-top: 0;
}

.projects__one {
  margin-bottom: 21px;
  position: relative;
  max-width: 1080px;
}

.projects-swiper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(1450 / 1600 * 100%);
  min-height: 150px;
}

.projects-slide {
  height: 150px;
  border: 1px solid var(--light-gray);
  padding: 32px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
  box-sizing: border-box;
  overflow: hidden;
  transition: border 0.5s;
}

.projects__link-text {
  position: relative;
  z-index: 3;
}

.projects__link {
  color: var(--violet-light);
  outline: 0;
  position: relative;
  transition: color 0.5s ease-in-out;
}

.projects__link::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 4px;
  width: 190px;
  height: 1px;
  background: var(--violet-light);
  z-index: 3;
  outline: 0;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.projects__link:not(:focus):hover::before {
  transform: scaleX(1);
}

.projects__link:active::before {
  transform: scaleX(1);
  background-color: var(--violet);
}

.projects__link:focus {
  color: white;
  z-index: 3;
}

.projects__link:active {
  color: var(--violet);
  z-index: 3;
}

.projects__link::after {
  content: "";
  position: absolute;
  width: 194px;
  height: 28px;
  top: -1px;
  bottom: -11px;
  left: 1px;
  right: -2px;
  border: 0;
  outline: 0;
  background-color: var(--violet-light);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}

.projects__link:focus:not(:active)::after {
  transform: scaleX(1);
}

.projects__h3 {
  font-size: 24px;
  margin-top: 0;
  font-weight: 600;
  margin-bottom: 26px;
}

.projects__prev {
  width: 30px;
  height: 30px;
  left: 0px;
  outline: 0;
  border: 1px solid #ECECEC;
  top: 55%;
  border-radius: 20px;
  transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out;
}

.projects__next {
  width: 30px;
  height: 30px;
  display: block;
  z-index: 3;
  right: 0px;
  outline: 0;
  top: 55%;
  border: 1px solid #ECECEC;
  border-radius: 20px;
  transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out;
}

.projects__next:hover {
  background: var(--purple);
  border: 1px solid var(--purple);  
}

.projects__next:focus {
  background: var(--white-gray);
  border: 1px solid var(--violet-light);
  width: 30px;
  height: 30px;
}

.projects__next:active {
  background: var(--purple);
  width: 30px;
  height: 30px;
  border: 1px solid var(--violet-light);  
}

.projects__next::before {
  width: 7.07px;
  height: 7.07px;
  content: "";
  transform: rotate(45deg);
  transform-origin: center;
  position: absolute;
  z-index: 3;
  border-top: 1px solid var(--black);
  border-right: 1px solid var(--black);
  cursor: pointer;
  right: 12px;
  top: 10px;
}

.projects__prev:hover {
  background: var(--purple);
  border: 1px solid var(--purple);  
}

.projects__prev:focus {
  background: var(--white-gray);
  border: 1px solid var(--violet-light);
  width: 30px;
  height: 30px;
}

.projects__prev:active {
  background: var(--purple);
  width: 30px;
  height: 30px;
  border: 1px solid var(--violet-light);  
}

.projects__prev::before {
  width: 7.07px;
  height: 7.07px;
  content: "";
  transform: rotate(45deg);
  transform-origin: center;
  position: absolute;
  z-index: 3;
  border-bottom: 1px solid var(--black);
  border-left: 1px solid var(--black);
  cursor: pointer;
  right: 8px;
  top: 10px;
}

.projects__container {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.projects__picture { 
  filter: grayscale(1);
  max-height: 100%;
  max-width: 100%;
  opacity: 0.4;
  transition: filter, opacity 0.5s;
}

.projects-slide:hover .projects__picture {
  filter: grayscale(0);
  opacity: 1;
}

.projects-slide:focus {
  border: 1px solid var(--violet-light);
}

.projects-slide:active .projects__picture {
  filter: grayscale(0);
  opacity: 1;
}

.projects-slide:active {
  border: 1px solid var(--violet-light);
}

.tippy-box[data-theme~='light'] {
  background-color: var(--violet-light);
  color: #FFFFFF;
  border-radius: 0px;
}

.js-tooltip {
  background-image: url(../img/projects/Frame26.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: relative;
  border: 0px;
  outline: 0;
  transition: background-image, 0.5s ease-in-out;
}

.js-tooltip:hover {
  background-image: url(../img/projects/Frame23.svg);
}

.js-tooltip:focus {
  background-image: url(../img/projects/Frame23.svg);
}

.js-tooltip:active {
  background-image: url(../img/projects/Frame25.svg);
}

.swiper-button-next.projects__next.swiper-button-disabled, .swiper-button-prev.projects__prev.swiper-button-disabled {
  opacity: 0.5; 
  background-color: #ECECEC;
}

.swiper-button-prev.projects__prev.swiper-button-disabled::before {
  border-bottom: 1px solid var(--light-gray);
  border-left: 1px solid var(--light-gray);
}

.swiper-button-next.projects__next.swiper-button-disabled::before {
  border-top: 1px solid var(--light-gray);
  border-right: 1px solid var(--light-gray);
}

.projects-pre {
  font-family: "Open-Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  position: relative; 
}

.project-span-p {
  white-space: pre;
}

.swiper-button-next:after {
  display: none;
}

@media (max-width: 1280px) {

  .projects-swiper {
    width: calc(818 / 924 * 100%);
    min-height: 128px;
  }

  .projects__h2 {
    margin-bottom: 21px;
  }

  .projects__prev {
    left: 0;
  }

  .projects__next {
    right: 0;
  }

  .projects__h3 {
    margin-bottom: 24px;
  }

  .projects__one {
    max-width: 925px;
    margin-bottom: 23px;
  }

  .projects__two {
    max-width: 1600px;
  }

  .projects__container {
    max-width: 1600px;
  }

  .projects-slide {
    height: 128px;
    padding: 36px 50px;
  }

  .projects {
    margin-top: 0px; 
    max-width: 1919px;
    margin-bottom: 0px;
    padding-top: 78px;
  }

  .projects__next::before {
    right: 12px;
    top: 11px;
  }

  .swiper-button-prev {
    top: 56%;
  }
}

@media (max-width: 1023px) {
  
  .projects-slide {
    height: 106px;
    padding: 17px 24px;
  }

  .projects-swiper {
    width: calc(554 / 658 * 100%);
    min-height: 106px;
  }

  .projects__one {
    margin-bottom: 32px;
  }

  .projects__two {
    max-width: 925px;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 4px;
  }

  .projects__one {
    margin-bottom: 29px;
  }

  .projects__h3 {
    margin-bottom: 31px;
  }

  .projects {
    margin-bottom: 0px;
    margin-top: 0px;
    max-width: 1023px;
  }

  .projects__container {
    max-width: 925px;
  }

  .projects__prev {
    top: 57%;
  }
}

@media (max-width: 767px) {

  .projects {
    margin-bottom: 0px;
    margin-top: 0px;
    max-width: 767px;
    padding-top: 36px;
    padding-bottom: 0px;
  }

  .projects-swiper {
    width: calc(196 / 291 * 100%);
    min-height: 65px;
  }

  .projects__container {
    max-width: 668px;
  }

  .projects-slide {
    height: 65px;
    padding: 18px 24px;
  }

  .projects__h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .projects__text {
    font-size: 16px;
    margin-top: 0px;
  }

  .projects__link {
    font-size: 16px;
    position: relative;
    margin-top: 0px;
    display: block;
  }

  .project-span-last {
    margin-bottom: 10px;
  }

  .projects__one {
    min-height: 100%;
    margin-bottom: 16px;
  }

  .projects__two {
    max-width: 668px;
  }

  .projects__h3 {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .swiper-button-prev {
    top: 61%;
  }

  .swiper-button-next {
    top: 60%;
  }
}