.customers {
  min-height: 424px;
}

.customers-main {
  padding-top: 40px;
}

.customers-top__h2 {
  color: var(--black);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.block {
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.6);
  position: absolute;
  display: none;
}

.block-on {
  display: block;
}

.block-add {
  display: flex;
  justify-content: center;
}

.first-row {
  background: var(--grey-light);
  max-width: 984px;
  min-height: 43px;
  margin-left: 0;
  margin-right: 0;
  border: 0;
}

.customers-table__body {
  background-color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 984px;
  display: block;
}

.customers-table__head {
  max-width: 984px;
  width: 100%;
}

.customers-table {
  width: 100%;
  height: 100%;
}

.customers-row {
  background: var(--white);
  border-bottom: 1px solid #C8C5D1;
  min-height: 60px;
  max-width: 984px;
  margin-left: 0;
  margin-right: 0;
}

.customers-header__data-text {
  display: block;
  max-width: 82px;
}

.customers-header__change-text {
  display: block;
  max-width: 102px;
}

.customers-col__up {
  padding-top: 7px;
}

.customers-col__up-data {
  line-height: normal;
  padding-bottom: 7px;
}

.customers-col__id {
  max-width: 62px; 
}

.customers-col__fio {
  max-width: 234px;
  display: block;
}

.customers-col__data {
  max-width: 141px;
}

.customers-col__last-change {
  max-width: 142px;
}

.customers-col__contacts {
  max-width: 135px;
}

.customers-col__actions {
  display: flex;
  align-items: center;
  width: 210px;
  justify-content: space-between;
}

.customers-col__text-id {
  margin-left: 7px;
  font-size: 12px;
  color: var(--grey);
}

.customers-col__text-time {
  color: var(--grey);
  margin-left: 10px;
}

.customers-header__text {
  font-size: 12px;
  color: var(--grey);
  transition-duration: 0.6s;
  cursor: pointer;
}

.customers-header__text:hover {
  color: var(--black);
}

.customers-header__id-text::after {
  content: "";
  background-image: url(../img/customers/arrow_downward.svg);
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  transition-duration: 0.6s;
  display: inline-block;
  background-position: right;
  margin-left: 2px;
  top: 1px;
  position: relative;
  cursor: pointer;
}

.customers-header__id-text:hover::after {
  background-image: url(../img/customers/arrow_downward-hover.svg);
}

.customers-header__id-text.is-active::after {
  transition-duration: 0.6s;
  transform: rotate(180deg);
}

.customers-header__fio-text::after {
  content: "";
  background-image: url(../img/customers/arrow_downward.svg);
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  background-position: right;
  transition-duration: 0.6s;
  right: 18px;
  top: 3px;
  cursor: pointer;
}

.customers-header__fio-text:hover::after {
  background-image: url(../img/customers/arrow_downward-hover.svg);
}

.customers-header__fio-text.is-active::after {
  transition-duration: 0.6s;
  transform: rotate(180deg);
}

.customers-header__fio-icon {
  left: 14px;
  position: relative;
}

.customers-header__data-text::after {
  content: "";
  background-image: url(../img/customers/arrow_downward.svg);
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: right;
  transition-duration: 0.6s;
  margin-left: 2px;
  margin-top: 2px;
  cursor: pointer;
}

.customers-header__data-text:hover::after {
  background-image: url(../img/customers/arrow_downward-hover.svg);
}

.customers-header__data-text.is-active::after {
  transition-duration: 0.6s;
  transform: rotate(180deg);
}

.customers-header__change-text::after {
  content: "";
  background-image: url(../img/customers/arrow_downward.svg);
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: right;
  transition-duration: 0.6s;
  margin-left: 2px;
  margin-top: 2px;
  cursor: pointer;
}

.customers-header__change-text:hover::after {
  background-image: url(../img/customers/arrow_downward-hover.svg);
}

.customers-header__change-text.is-active::after {
  transition-duration: 0.6s;
  transform: rotate(180deg);
}

.customers-col__button {
  background: 0;
  border: 0;
  cursor: pointer;
}

.social-list {
  display: flex;
}

.social-item {
  cursor: pointer;
}

.social-vk {
  background-image: url(../img/customers/vk.svg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: block;
  transition-duration: 0.5s;
}

.social-vk:hover {
  background-image: url(../img/customers/vk-hover.svg);
}

.social-fb {
  background-image: url(../img/customers/fb.svg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: block;
  transition-duration: 0.5s;
}

.social-fb:hover {
  background-image: url(../img/customers/fb-hover.svg);
}

.social-phone {
  background-image: url(../img/customers/phone.svg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: block;
  transition-duration: 0.5s;
}

.social-phone:hover {
  background-image: url(../img/customers/phone-hover.svg);
}

.social-mail {
  background-image: url(../img/customers/mail.svg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: block;
  transition-duration: 0.5s;
}

.social-mail:hover {
  background-image: url(../img/customers/mail-hover.svg);
}

.social-item:not(:last-child) {
  margin-right: 7px;
}

.button-change {
  width: 87px;
  height: 20px;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  text-align: right;
  transition-duration: 0.6s;
}

.button-change::after {
  content: "";
  background-image: url(../img/customers/edit.svg);
  width: 16px;
  height: 16px;
  position: absolute;
  right: 74px;
  top: 2px;
}

.button-change:hover {
  color: #9873FF;
}

.button-cancel {
  width: 87px;
  height: 20px;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  text-align: right;
  transition-duration: 0.6s;
}

.button-cancel::after {
  content: "";
  background-image: url(../img/customers/cancel.svg);
  width: 16px;
  height: 16px;
  position: absolute;
  right: 62px;
  top: 2px;
}

.button-cancel:hover {
  color: #F06A4D;
}
