:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #B0B0B0;
}

.form {
  width: 450px;
  min-height: 400px;
  background-color: var(--white);
  flex-direction: column;
  display: none;
}

.show {
  display: flex!important;
  position: absolute;
  z-index: 5;
  align-items: center;
}

.form-container {
  width: 390px;
  height: 195px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 25px;
}


.form-h2__newcustomer {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  min-width: 174px;
  margin: 0;
}

.form-h2__changecustomer {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  min-width: 174px;
  margin: 0;
}

.form-main {
  width: 100%;
}

.form-delete {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 29px;
  height: 29px;
  background-image: url(../img/customers/delete-block.svg);
  background-repeat: no-repeat;
  border: 0;
  background-color: var(--white);
}

.row-one {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 25px;
  margin-bottom: 15px;
}

.row-two, .row-three {
  display: flex;
  flex-direction: column;
  height: 41px;
  margin-bottom: 15px;
}

.row-four {
  display: flex;
  flex-direction: column;
  height: 41px;
}

.row-five {
  background-color: #F4F3F6;
}

.row-five__container {
  width: 390px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-button {
  border: 0;
  background: 0;
  color: var(--black);
  width: 172px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  cursor: pointer;
  
}

.form-button::after {
  background-image: url(../img/footer/add_circle_outline.svg);
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  bottom: 1px;
}

.form-button:hover::after {
  background-image: url(../img/footer/add_circle_outline-hover.svg);
  transition-duration: 0.6s;
}

.form-button__text:hover {
  color: #9873FF;
  transition-duration: 0.6s;
}

.row-six {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.form-id__case {
  width: 170px;
  height: 22px;
  padding-left: 9px;
  color: var(--grey);
  font-size: 12px;
  display: flex;
  align-items: end;
}

.form-color {
  color: var(--grey);
}

.form-surname__input, .form-name__input, .form-middlename__input, .five-line__input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #C8C5D1;
  width: 390px;
  color: var(--black);
  outline: 0;
  height: 20px;
  font-weight: 600;
}

.form-surname, .form-name, .form-middlename {
  font-size: 10px;
}

.form__button-save {
  display: inline-flex;
  height: 44px;
  width: 147px;
  padding: 17px 35px;
  align-items: center;
  background-color: #9873FF;
  color: var(--white);
  border: 0;
  margin-bottom: 8px;
  cursor: pointer;
  transition-duration: 0.6s;
}

.form__button-save:hover {
  background-color: #B89EFF;
}

.form__button-save:focus {
  background-color: #8052FF;
}

.form__button-save:active {
  background-color: #C8C5D1;
}

.form__btn-change {
  display: inline-flex;
  height: 44px;
  width: 147px;
  padding: 17px 35px;
  align-items: center;
  background-color: #9873FF;
  color: var(--white);
  border: 0;
  margin-bottom: 8px;
  cursor: pointer;
  transition-duration: 0.6s;
}

.form__btn-change:hover {
  background-color: #B89EFF;
}

.form__btn-change:focus {
  background-color: #8052FF;
}

.form__btn-change:active {
  background-color: #C8C5D1;
}

.form__link-cancel {
  color: var(--black);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.five-line__input {
  width: 247px;
  height: 38px;
  border-top: 1px solid #C8C5D1;
  border-bottom: 1px solid #C8C5D1;
  border-left: 0;
  border-right: 0;
  background-color: #F4F3F6;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 9px;
  color: var(--black);
  font-size: 14px;
  outline: 0;
}

#line-input::placeholder {
  color: #B0B0B0;
}

.five-line {
  max-width: 390px;
  display: none;
  flex-direction: row;
  margin-bottom: 25px;
}

.five-button {
  width: 27px;
  height: 37px;
  border: 1px solid var(--grey, #C8C5D1);
  background: #E7E5EB;
  background-image: url(../img/customers/cancel-contact.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition-duration: 0.6s;
}

.five-button:hover {
  border: 1px solid #F06A4D;
  background-image: url(../img/customers/cancel-contact-hover.svg);
}

.open-line {
  display: flex;
}

.form__btn-cancel {
  width: 121px;
  height: 17px;
  font-size: 12px;
  color: var(--black);
  border: 0;
  background: none;
  text-decoration-line: underline;
}

.form-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-button__text {
  color: var(--black);
  font-weight: 600;
  font-size: 14px;
}

.form-text__cancel {
  color: var(--black, #333);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.form-cancel {
  width: 450px;
  height: 215px;
  background-color: var(--white);
  display: none;
}

.form__btn-delete {
  display: inline-flex;
  height: 44px;
  width: 147px;
  padding: 17px 35px;
  align-items: center;
  background-color: #9873FF;
  color: var(--white);
  border: 0;
  margin-bottom: 8px;
  cursor: pointer;
  justify-content: center;
  transition-duration: 0.6s;
}

.form__btn-delete:hover {
  background-color: #B89EFF;
}

.form__btn-delete:focus {
  background-color: #8052FF;
}

.form__btn-delete:active {
  background-color: #C8C5D1;
}

.form__buttom-delete {
  display: inline-flex;
  height: 44px;
  width: 147px;
  padding: 17px 35px;
  align-items: center;
  background-color: #9873FF;
  color: var(--white);
  border: 0;
  margin-bottom: 8px;
  cursor: pointer;
  justify-content: center;
  transition-duration: 0.6s;
}

.form__buttom-delete:hover {
  background-color: #B89EFF;
}

.form__buttom-delete:focus {
  background-color: #8052FF;
}

.form__buttom-delete:active {
  background-color: #C8C5D1;
}

.form__btn-cancellation {
  width: 121px;
  height: 17px;
  font-size: 12px;
  color: var(--black);
  border: 0;
  background: none;
  text-decoration-line: underline;
}

.form-delete__container {
  width: 275px;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.form-delete__title {
  margin-bottom: 11px;
}

.validation-messedge {
  display: block;
  max-width: 255px;
  min-height: 42px;
  visibility: hidden;
}

.validation-vision {
  visibility: visible;
}

.messedge-id {
  color: #F06A4D;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
}

.close {
  display: none;
}

@media (max-width: 767px) {
  .form {
    width: 300px;
  }

  .form-surname__input, .form-name__input, .form-middlename__input, .five-line__input {
    width: 271px;
  }

  .form-container {
    width: 271px;
  }

  .row-five__container {
    width: 271px;
  }

  .five-line {
    max-width: 270px;
  }

  .five-line__input {
    width: 136px;
  }

  .choice {
    width: 110px;
  }

  .choices {
    width: 110px;
  }

  .choices__list--dropdown, .choices__list[aria-expanded] {
    top: 99%;
  }

  .choices[data-type*=select-one].is-open::after {
    top: 40%;
  }

  .choices__list, .choices__list--dropdown, .is-active {
    top: 3%
  }

  .is-active.choices__list--dropdown,
  .is-active.choices__list[aria-expanded] {
    visibility: visible;
    position: absolute;
  }

}

