.about-us {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 93px;
  padding-bottom: 70px;
  position: relative;
}

.about-us__content {
  max-width: 1075px;
}

.about-us__content-h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 16px;
  margin-top: 0;
}

.about-us__content-p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin: 0;
}

@media (max-width: 1280px) {
  .about-us__content {
    max-width: 925px;
  }

  .about-us__content-h2 {
    margin-bottom: 16px;
  }

  .about-us {
    margin-bottom: 0px;
    max-width: 1919px;
    padding-top: 79px;
  }
}

@media (max-width: 1023px) {
  .about-us {
    max-width: 1023px;
    margin-bottom: 0px;
    min-height: 435px;
  }

  .about-us__content-h2 {
    margin-bottom: 16px;
  }
}


@media (max-width: 767px) {
  .about-us__container {
    padding-bottom: 50px;
  }

  .about-us__content-h2 {
    font-size: 29px;
    line-height: 42px;
    margin-bottom: 9px;
  }

  .about-us__content-p {
    line-height: 28px;
    font-size: 14px;
  }

  .about-us {
    max-height: 764px;
    max-width: 767px;
    margin-bottom: 49px;
    padding-top: 49px;
  }
}