.contacts {
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
}

.contacts-container {
  display: flex;
  padding-top: 40px;
  padding-bottom: 39px;
  justify-content: space-around;
}

.contacts-one {
  margin-right: auto;
  display: flex;
}

.contacts-two {
  display: flex;
  padding-top: 11px;
  padding-left: 2px;
}

.contacts-form {
  margin-top: 0px;
}

.contacts-three {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.contacts-three__h3 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 7px;
}

.contacts-one__container {
  display: flex;
  flex-direction: column;
  padding-top: 6px;
}

.contacts-one__h3 {
  margin-bottom: 12px;
  font-size: 24px;
  margin-top: 0px;
  font-weight: 600;
}

.contacts-one__p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.form-control {
  border-radius: 32px;
  width: 270px;
  height: 50px;
  margin-right: 20px;
  padding-left: 24px;
  outline: 0;
  border: 1px solid #333333;
  transition: background-color 0.5s ease-in-out;
}

.form-control:hover {
  background-color: #EAEAEA;
}

.form-control:focus {
  background-color: #EAEAEA;
}

.form-control:active {
  background-color: #EAEAEA;
}

.form-control {
  border-radius: 32px;
  width: 270px;
  height: 50px;
  padding-left: 24px;
  margin-right: 20px;
  box-shadow: none;
  outline: 0;
  border: 1px solid #333333;
  transition: background-color 0.5s ease-in-out;
}

.form-control:hover {
  background-color: #EAEAEA;
}

.form-control:focus {
  background-color: #EAEAEA;
}

.form-control:active {
  background-color: #EAEAEA;
}

.contacts-button {
  border-radius: 32px;
  margin-top: 0px;
  width: 329px;
  height: 50px;
  color: var(--violet-light);
  background-color: var(--white);
  border: 2px solid var(--violet-light);
  font-weight: 700;
  font-size: 18px;
  outline: 0;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, outline 0.5s ease-in-out;
}

.contacts-button:hover {
  background-color: var(--violet-light);
  color: var(--white);
  
}

.contacts-button:not(:active):focus {
  outline: 2px solid #C283F3;
  outline-offset: 5px;
}

.contacts-button:active {
  border: 2px solid var(--purple);
  background-color: var(--violet);
  color: var(--white);
}

.contacts-three__h3 {
  font-size: 24px;
  font-weight: 600;
}

.contacts-list {
  display: flex;
  margin-top: 0px;
}

.contacts-btn-span {
  display: none;
}

.contacts__whatssapp {
  background-image: url(../img/contacts/Whatsapp-Icon.svg);
  width: 40px;
  height: 40px;
  background-size: contain;
  display: block;
  outline: 0;
  border-radius: 30px;
  transition: opacity 0.5s ease-in-out, border 0.5s ease-in-out;;
}

.contacts__whatssapp:hover {
  opacity: 0.5;
}

.contacts__whatssapp:focus {
  opacity: 0.5;
}

.contacts__whatssapp:not(:focus):active {
  border: 1px solid #9643A4;
}

.contacts__telegram {
  background-image: url(../img/contacts/Telegram_2019_Logo.svg);
  width: 40px;
  height: 40px;
  background-size: contain;
  display: block;
  outline: 0;
  border-radius: 30px;
  transition: opacity 0.5s ease-in-out, border 0.5s ease-in-out;;
}

.contacts__telegram:hover {
  opacity: 0.5;
}

.contacts__telegram:focus {
  opacity: 0.5;
}

.contacts__telegram:not(:focus):active {
  border: 1px solid #9643A4;
}

.contacts-item:first-child {
  margin-right: 20px;
}

#map {
  height: 700px;
  width: 100%;
}

.contacts-form {
  display: flex;
}

.contacts-mobile {
  display: none;
}

.just-validate-error-label {
  color: #D11616!important;
  padding-left: 24px;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  transform: translateY(-63px);
  margin-bottom: 2px;
}

.just-validate-error-field {
  border: 1px solid #D11616;
}

@media (max-width: 1560px) {
  .contacts-container {
    flex-direction: column;
  }

  .contacts-three {
    margin-left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .contacts-one {
    margin-bottom: 37px;
  }

  .contacts-two {
    padding-left: 0px;
    margin-bottom: 33px;
    padding-top: 0px;
  }
}

@media (max-width: 1280px) {
  .contacts-container {
    min-height: 339px;
    padding-bottom: 43px;
    padding-top: 0px;
  }

  .contacts {
    margin-bottom: 0px;
    max-width: 1919px;
  }

  .contacts-three {
    margin-left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .contacts-one {
    margin-bottom: 38px;
  }

  .contacts-one__h3 {
    font-size: 24px;
  }

  .input-one {
    width: 270px;
    margin-right: 20px;
  }

  .input-two {
    width: 270px;
    margin-right: 20px;
  }

  .contacts-button {
    width: 343px;
  }

  .contacts-three__h3 {
    margin-bottom: 7px;
  }

  .contacts-two {
    padding-left: 0px;
    margin-bottom: 33px;
    padding-top: 0px;
  }

  .contacts-map {
    width: 100%;
  }

  .ac__h3 {
    font-size: 24px;
  }

  .ac-div__right-text {
    font-size: 16px;
    margin-top: 0px;
  } 

  .contacts-one__container {
    padding-top: 44px;
  }
}

@media (max-width: 1023px) {
  .contacts-two {
    flex-direction: column;
  }

  .contacts {
    max-width: 1023px;
  }

  .contacts-one {
    margin-bottom: 37px;
  }

  .input-one {
    width: 324px;
  }

  .input-two {
    width: 317px;
    margin-right: 0;
  }

  .contacts-button {
    width: 317px;
    margin-right: auto;
    margin-top: 12px;
  }

  .form-control {
    width: 317px;
  }

  .form-control {
    width: 324px;
  }

  .contacts-form {
    max-width: 669px;
    max-width: 925px;
    margin-right: auto;
    flex-wrap: wrap;
  }

  .contacts-container {
    min-height: 401px;
    padding-top: 45px;
  }

  .contacts-three {
    margin-top: 0px;
  }

  .form-control {
    width: 324px;
  }

  .contacts-button {
    font-size: 18px;
  }

  .contacts-one__container {
    padding-top: 0px;
  }
}

@media (max-width: 767px) {
  .just-validate-error-label {
    margin-top: 8px;
  }

  .contacts-two {
    margin-bottom: 26px;
  }

  .contacts {
    max-width: 767px;
    border-top: 0;
  }

  .form-control {
    margin-right: 0;
  }

  .contacts-btn-check {
    display: none;
  }

  .contacts-btn-span {
    display: block;
    font-size: 13px;
    padding-top: 2px;
  }

  .input-one {
    width: 290px;
    height: 40px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .input-two {
    width: 290px;
    height: 40px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .contacts-form {
    max-width: 290px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding-top: 4px;
  }

  .contacts-button__desktop {
    display: none;
  }

  .contacts-button {
    width: 128px;
    height: 40px; 
    margin-right: auto;
    margin-top: 0px;
  }

  .contacts-mobile {
    width: 114px;
    height: 40px; 
    margin-right: auto;
    margin-top: 0px;
    display: block;
    font-size: 12px;
    padding-top: 11px;
    padding-left: 0px;
  }

  .form-control {
    width: 290px;
    height: 40px;
    padding-left: 23px;
    padding-top: 3px;
  }

  .form-control {
    width: 290px;
    height: 40px;
    padding-left: 22px;
    padding-top: 3px;
  }

  .contacts-container {
    min-height: 393px;
    padding-top: 52px;
    padding-bottom: 16px;
  }

  .contacts__telegram {
    background-image: url(../img/contacts/Telegram_2019_Logo-768.svg);
    width: 50px;
    height: 50px;
  }

  .contacts__whatssapp {
    background-image: url(../img/contacts/Whatsapp-Icon-3-768.svg);
    width: 50px;
    height: 50px;
  }

  .contacts-one__h3 {
    font-size: 18px;
    margin-bottom: 2px;
  }

  .contacts-one__p {
    margin-top: 0;
    font-size: 14px;
  }

  .contacts-one {
    width: 100%;
    margin-bottom: 13px;
    margin-right: 0;
  }

  .contacts-three__h3 {
    font-size: 17px;
    margin-bottom: 14px;
  }
  
  .contacts-list {
    margin-top: 0px;
  }

  #map {
    height: 320px;
  }

}