.header {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.header-top {
  background-color: var(--black);
  position: relative;
  z-index: 3;
}

.header-top__container {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-bottom {
  position: relative;
  z-index: 3;
  background-color: rgb(0, 0, 0, 0.4);
}

.header-bottom__container {
  display: flex;
}

.header-top__logo {
  width: 173px;
  height: 40px;
  margin-left: 0;
  margin-right: 179px;
}

.header-top__nav {
  max-width: 1255px;
  display: flex;
}

.header-top__list {
  display: flex;
  max-width: 1175px;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.header-top__list-item:not(:last-child) {
  margin-right: 62px;
}

.header-top__link {
  color: var(--white);
  font-size: 18px;
  line-height: 24.51px;
  transition: color 0.4s ease-in-out;
  position: relative;
}

.header-top__account {
  position: relative;
  display: block;
  margin-right: 0;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  color: var(--white);
  transition: color 0.4s ease-in-out, background-image 0.4s ease-in-out;
  width: 90px;
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.menu-wrap__account {
  position: absolute;
  display: none;
  margin-bottom: auto;
  color: var(--white);
  transition: color 0.4s ease-in-out, background-image 0.4s ease-in-out;
  background: none;
  padding-top: 19px;
  padding-left: 108px;
  padding-bottom: 19px;
  padding-right: 91px;
  left: 15px;
  bottom: 20px;
  cursor: pointer;
  z-index: 3;
  border-radius: 100px;
  border: 2px solid var(--violet-light);
  outline: 0;
}

.menu-wrap__account::after {
  background-image: url(../img/header/Vector.svg);
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  top: 40%;
  left: 35%;
}

.menu-wrap.is-opened {
  padding-left: 16px;
}


.header-top__button-text {
  position: relative;
  font-size: 17px;
  font-weight: 600;
  margin-left: 31px;
}

.header-top__link:hover,
.header-top__account:hover,
.header-bottom__btn:hover {
  color: #C283F3;
}

.header-top__account::after {
  background-image: url(../img/header/Vector.svg);
  background-position: left center;
  background-repeat: no-repeat;
  transform: scaleX(1);
  content: "";
  position: absolute;
  top: -6px;
  bottom: -6px;
  left: 16px;
  right: -6px;
  transition: transform 0.4s ease-in-out, background-image 0.4s ease-in-out;
  transform-origin: center;
}

.header-top__link::before,
.header-top__account::before,
.header-bottom__btn::before {
  content: "";
  position: absolute;
  top: -6px;
  bottom: -6px;
  left: -6px;
  right: -6px;
  background-color: var(--violet);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.4s ease-in-out, background-image 0.4s ease-in-out, color 0.4s ease-in-out;
}

.header-top__account::before {
  top: -6px;
  bottom: -6px;
  left: 5px;
  right: -6px;
}

.header-top__account:hover::after {
  background-image: url(../img/header/Vector-hover.png);
}

.header-top__account:active::after {
  background-image: url(../img/header/Vector-active.png);
}

.header-top__account:focus:not(:active):not(:hover)::after {
  transform: scaleX(1);
}

.header-top__link:focus:not(:active):not(:hover)::before,
.header-top__account:focus:not(:active):not(:hover)::before,
.header-bottom__btn:focus:not(:active):not(:hover)::before{
  transform: scaleX(1);
}

.header-top__account:focus:not(:active):not(:hover)::before {
  transform: scaleX(1);
}

.header-top__link:focus,
.header-top__account:focus {
  outline: 0;
}

.header-top__link:active {
  color: var(--violet);
  transition: none;
}

.header-top__account:active {
  color: var(--violet-light);
}

.header-top__link-text {
  position: relative;
  font-size: 18px;
  line-height: 24.51px;
  font-weight: 600;
}

.header-top__arrow {
  position: relative;
  margin-right: 1px;
}

.header-bottom .form-search {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  align-items: center;
}

.form-search__btn {
  border: 0;
  background-image: url(../img/header/search.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(0, 0, 0, 0);
  width: 22px;
  height: 22px;
  margin-right: 9px;
  margin-top: 6px;
  position: relative;
  outline: 0;
}

.form-search__btn::before {
  content: "";
  position: absolute;
  top: -6px;
  bottom: -6px;
  left: -6px;
  right: -6px;
  background-color: var(--violet);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.4s ease-in-out, background-image 0.4s ease-in-out;
}

.form-search__btn:focus:not(:active):not(:hover)::before {
  transform: scaleX(1);
  z-index: -1;
}

.form-search__input {
  border-bottom: 1px solid var(--white);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background: rgb(0, 0, 0, 0);
  color: var(--white);
  width: 218px;
  outline: 0;
  cursor: pointer; 
  transition: border-bottom 0.4s ease-in-out;
  margin-top: 4px;
  font-size: 18px;
  margin-right: 2px;
}

.form-search__input::placeholder {
  transition: opacity 0.4s ease-in-out;
  color: var(--white);
}

.form-search__input:hover {
  border-bottom: 1px solid #C283F3;
}

.form-search__input:focus::placeholder {
  opacity: 0;
}

.form-search__input:focus {
  border-bottom: 1px solid #C283F3;
}

.form-search__input:active {
  border-bottom: 1px solid var(--violet);
}

.header-bottom-list {
  display: flex;
  align-items: center;
}

.reset-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.header-bottom__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-bottom__item {
  position: relative;
  padding-top: 25px;
  padding-bottom: 24px;
}

.header-bottom__item:not(:last-child) {
  margin-right: 100px;
}

.header-bottom__btn {
  height: 100%;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--white);
  transition: color 0.4s ease-in-out;
  cursor: pointer;
  position: relative;
  padding: 0;
}

.header-bottom__heading:focus {
  color: var(--violet);
}

.header-bottom__heading {
  position: relative;
  font-size: 18px;
  font-weight: 400;
}

.header-bottom__btn::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid;
  border-right: 1px solid;
  margin-left: 5px;
  margin-top: -3px;
  transform: rotate(135deg);
  transition: transform 0.5s ease;
  transform-origin: center;
}

.header-bottom__heading.is-active {
  color: var(--violet);
}

.header-bottom__btn.is-active::after {
  transform: rotate(-45deg) translateY(5px) translateX(-3px);
}

.header-item-btn:active {
  color: var(--violet);
}

.header-dropdown {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  padding: 40px 20px 40px 40px;
  background-color: rgba(0, 0, 0, 0.6);
  transform: translateY(100%);
}

.header-wrap {
  width: 240px;
  max-height: 220px;
}

.header-dropdown.is-active {
  display: block;
  animation-name: dropdownOpen;
  animation-duration: 0.4s;
}

.header-dropdown.is-disabled {
  display: block;
  animation-name: dropdownClose;
  animation-duration: 0.4s;
}

.drop-list {
  list-style: none;
  padding-left: 0;
}

.drop-list__item {
  width: 220px;
}

.drop-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.drop-list__item-link {
  position: relative;
  display: block;
  padding: 10px 15px;
  border: 2px solid transparent;
  font-size: 14px;
  color: #fff;
  background-color: #000;
  background-origin: border-box;
  transition: border-color .3s ease;
}

.drop-list__item-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 131, 243, 0.4);
  opacity: 0;
  transition: opacity .3s ease;
}

.tintoretto {
  background-image: url(../img/header/dropdown1/tintoretto.png);
}

.fridrih {
  background-image: url(../img/header/dropdown1/фридрих.png);
}

.leonardo {
  background-image: url(../img/header/dropdown1/леонардо.png);
}

.verrokkio {
  background-image: url(../img/header/dropdown1/верроккьо.png);
}

.mone {
  background-image: url(../img/header/dropdown2/Моне.png);
}

.sysley {
  background-image: url(../img/header/dropdown2/Сислей.png)
}

.mane {
  background-image: url(../img/header/dropdown2/Мане.png);
}

.renuar {
  background-image: url(../img/header/dropdown2/Ринуар.png);
}

.vangog {
  background-image: url(../img/header/dropdown3/Вангог.png);
}

.sezan {
  background-image: url(../img/header/dropdown3/Сезан.png);
}

.gogen {
  background-image: url(../img/header/dropdown3/Гоген.png);
}

.sera {
  background-image: url(../img/header/dropdown3/Сёра.png);
}

.kandinsky {
  background-image: url(../img/header/dropdown4/Кандинский.png);
}

.marinetti {
  background-image: url(../img/header/dropdown4/Маринетти.png);
}

.malevich {
  background-image: url(../img/header/dropdown4/Малевич.png);
}

.picasso {
  background-image: url(../img/header/dropdown4/Пикассо.png);
}

.karra {
  background-image: url(../img/header/dropdown5/Карра.png);
}

.pratella {
  background-image: url(../img/header/dropdown5/Прателла.png);
}

.severini {
  background-image: url(../img/header/dropdown5/Северини.png);
}

.balla {
  background-image: url(../img/header/dropdown5/Балла.png);
}

.header-item-text {
  position: relative;
}

.drop-list__item-link:hover,
.drop-list__item-link:focus {
  outline: none;
  border-color: var(--violet-light);
}

.drop-list__item-link:active::before {
  opacity: 1;
}

.header-dropdown .simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: #000;
}

.header-dropdown
  .simplebar-track.simplebar-vertical
  .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  opacity: 1;
}

.header-top__search {
  display: none;
  width: 30px;
  height: 30px;
  background-image: url(../img/header/Search1024.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--black);
  border: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.burger {
  display: none;
}

.nav {
  margin-left: auto;
  margin-right: 80px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.item {
  margin-right: 40px;
  font-size: 24px;
}

.form {
  position: absolute;
  top: 50%;
  right: 50px;
  display: none;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--black);
  border: 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, .2);
  transform: translateY(-50%);
  transform-origin: right;
}

.form.is-opened {
  display: flex;
  animation-name: search-open;
  animation-duration: .3s;
}

.form.is-closed {
  animation-name: search-close;
  animation-duration: .3s;
}

.form__search {
  background-image: url(../img/header/Frame-search-768.png);
  width: 28px;
  padding-right: 16px;
  height: 26px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--black);
  border: 0;
  margin-right: 11px;
}

.tippy-box[data-theme~='light'] > .tippy-arrow::before {
  color: var(--violet-light);
  border-radius: 0px;
}

.search-input {
  margin-right: 24px;
  border-bottom: 1px solid var(--white);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: 0;
  background: 0;
  width: 218px;
}

.search-btn,
.close-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.search-btn {
  margin-right: 10px;
  background-color: green;
}

.close-btn {
  background-image: url(../img/header/X.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--black);
  width: 25px;
  height: 25px;
}

@media (max-width: 1400px) {

  .header-top__list-item:not(:last-child) {
    margin-right: 50px;
  }

  .header-bottom__item:not(:last-child) {
    margin-right: 64px;
  }
}


@media (max-width: 1279px) {
  
  .header {
    max-width: 1919px;
    min-height: 101px;
  }
  
  .header-top__container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header-top {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .header-top__list {
    transition: transform .4s ease-in-out;
    text-align: left;
    line-height: 64px;
    padding-top: 0px;
    background: var(--black);
    display: block;
    background-size: cover;
    overflow-y: auto;
    max-height: 100%;
  }

  .header-top__link::before,  
  .header-top__account::before,
  .header-bottom__btn::before {
    right: -6px;
  }

  .header-top__link-text {
    font-size: 24px;
  }
  
  .header-top__link:focus,
  .header-top__account:focus {
    color: var(--white);
    transition: none;
  }

  .logo {
    margin-right: 0;
    order: 1;
  }

  .search {
    order: 1;
  }

  .nav {
    margin-left: 0;
    margin-right: 20px;
  }

  .close-btn {
    width: 27px;
    height: 27px;
  }
  
  .form__search {
    width: 31px;
    height: 30px;
    margin-bottom: 2px;
    margin-right: 10px;
  }

  .burger {
    position: relative;
    z-index: 2;
    display: block;
    width: 36px;
    height: 28px;
    color: var(--white);
    transition: color .5s ease;
  }

  .burger:focus {
    outline: 2px solid var(--color-orange);
    outline-offset: 3px;
  }
  
  .burger::before,
  .burger::after {
    content: "";
  }

  .burger span,
  .burger::before,
  .burger::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: currentColor;
    transform-origin: right;
    transition: transform .2s ease;
  }

  .is-opened.burger::after,
  .is-opened.burger::before {
    width: 100%;
  }

  .burger span {
    top: 38%;
    width: 28.2px;
  }

  .burger::after {
    top: 55%;
    width: 24px;
  }

  .burger::before {
    top: 40%;
    width: 100%;
  }

  .burger::before {
    transform: translateY(calc(-100% - 6px));
  }

  .burger span {
    top: calc(50% - 1px);
    transition: opacity .5s ease, transform .2s ease;
  }

  .burger::after {
    transform: translateY(calc(100% + 5px));
  }

  .burger:active {
    color: var(--color-dark-orange);
  }

  .burger:active span {
    transform: scaleX(calc(25 / 30));
  }

  .burger:active::after {
    transform: scaleX(calc(18 / 30)) translateY(calc(100% + 5px));
  }

  .is-opened.burger span,
  .is-opened.burger::before,
  .is-opened.burger::after {
    transform-origin: center;
  }

  .is-opened.burger::before {
    color: var(--white);
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    left: -4px;
  }

  .burger.is-opened span {
    opacity: 0;
    transform: translateX(-100%);
  }

  .is-opened.burger::after {
    color: var(--white);
    top: 50%;
    left: -4px;
    transform: translateY(-50%) rotate(-45deg);
  }
  
  .menu-wrap {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100vh;
    padding: 110px 80px 40px 40px;
    background-color: var(--black);
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    transform: translateX(-100%);
  }

  .menu {
    display: block;
    max-height: 100%;
    margin: 0;
    overflow-y: auto;
  }

  .menu-wrap.is-opened {
    height: 100vh;
    display: block;
    transform: translateX(0);
    animation-name: menu-open;
    animation-duration: .3s;
    padding-left: 48px;
    padding-top: 98px;
    padding-bottom: 84px;
  }

  .menu-wrap__account {
    display: block;
    padding-top: 20px;
    padding-bottom: 17px;
    padding-right: 91px;
    padding-left: 85px;
    left: 49px;
  }

  .menu-wrap__account::after {
    top: 41%;
  }

  .menu-wrap.is-closed {
    animation-name: menu-close;
    animation-duration: .3s;
  }

  .header-top__button-text {
    margin-left: 24px;
  }

  .item {
    margin-bottom: 10px;
    margin-right: 0;
  }
  
  .form {
    right: 31px;
  }

  .header-top__list-item {
    margin-right: auto;
    margin-left: 0px;
  }

  .header-top__list-item:not(:last-child) {
    margin-right: auto;
    margin-left: 0px;
  }

  .header-top__account {
    display: none;
  }

  .header-top__logo {
    margin-left: auto;
    margin-right: auto;
    width: 193px;
    height: 42px;
  }

  .header-burger-close {
    background-image: url(../img/header/X.png);
    position: absolute;
    left: 15px;
  }

  .header-top__search {
    display: block;
    background-image: url(../img/header/Frame-search-768.png);
    width: 29px;
    height: 28px;
  }

  .header-top__burger__close {
    transform: translateX(-203%);
  }
  
  .menu-isClose {
    transform: translateX(-101%);
  }

  .menu-isActive {
    transform: none;
  }

  .header-bottom {
    display: none;
  }

  .header-top__link {
    color: var(--white);
  }
}

@media (max-width: 1023px) {
  .form.is-opened {
    width: 100%;
    z-index: 3;
    padding-left: 80px;
    padding-right: 17px;
  }

  .search-input {
    margin-right: 23px;
  }

  .close-btn {
    width: 37px;
    height: 33px;
  }

  .form__search {
    padding-right: 23px;
    margin-bottom: 0px;
  }

  .search-input {
    width: 100%;
    height: 28px;
  }

  .menu-wrap__account {
    padding-left: 109px;
    padding-top: 20px;
    margin-left: 2px;
    padding-bottom: 16px;
  }

  .menu-wrap__account::after {
    top: 43%;
    left: 34%;
  }

  .header-top__button-text {
    margin-left: 0px;
  }

}

@media (max-width: 767px) {
  .header {
    max-width: 767px;
    min-height: 45px;
  }

  .header-top {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .form {
    padding-top: 11px;
    padding-bottom: 11px;
    right: 0;
  }

  .header-top__burger {
    background-image: url(../img/header/Burger-320.png);
    Width: 25px;
    height: 18px;
  }

  .header-top__img {
    margin-top: 11px;
    margin-left: 48px;
  }

  .form__search {
    height: 18px;
    width: 18px;
    padding-right: 13px;
    margin-right: 10px;
    margin-top: 30px;
  }

  .search-input {
    height: 18px;
    margin-right: 39px;
    padding-top: 39px;
  }

  .close-btn {
    height: 17px;
    width: 19px;
    margin-bottom: 20px;
    margin-right: 0px;
  }

  .header-top__search {
    width: 19px;
    height: 18px;
    background-size: contain;
    background-image: url(../img/header/search320.png);
  }

  .burger::before {
    width: 25px;
    height: 2px;
  }

  .form.is-opened {
    padding-right: 15px;
    padding-left: 55px;
    border-radius: 0;
    padding-bottom: 20px;
    padding-top: 41px;
    width: 100%;
  }

  .burger {
    height: 2px;
    width: 18px;
  }

  .burger span {
    width: 16px;
    height: 2px;
  }

  .burger::after {
    width: 10px;
    height: 2px;
  }

  .is-opened.burger::before,
  .is-opened.burger::after {
    top: 80%;
    left: -1%;
  }

  .header-top__list-item:not(:last-child),
  .header-top__list-item {
    margin-left: 0;
    margin-right: auto;
  }

  .header-top__list {
    left: 15px;
    padding-top: 0px;
    line-height: 32px;
    margin-bottom: 0px;
    overflow-y: auto;
    max-height: 100%;
    display: block;
    text-align: left;
  }

  .menu-wrap__account {
    padding-top: 8px;
    padding-bottom: 11px;
    padding-left: 42px;
    padding-right: 30px;
    left: 14px;
  }

  .header-top__button-text {
    font-size: 12px;
  }

  .menu-wrap__account::after {
    top: 38%;
    left: 26%;
    height: 9px;
    width: 9px;
    background-size: cover;
  }

  .header-top__link-text {
    font-size: 16px;
  }

  .menu-wrap.is-opened {
    padding-left: 15px;
    padding-bottom: 62px;
    padding-top: 47px;
  }
}

@keyframes menu-open {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes menu-close {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes search-open {
  from {
    transform: translateY(-50%) scaleX(0);
    opacity: 0;
  }
  to {
    transform: translateY(-50%) scaleX(1);
    opacity: 1;
  }
}

@keyframes search-close {
  from {
    transform: translateY(-50%) scaleX(1);
    opacity: 1;
  }
  to {
    transform: translateY(-50%) scaleX(0);
    opacity: 0;
  }
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}